@model AccountDetailsViewModel

@{
    ViewData["Title"] = "Edit Account";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Edit @Model.Compte.nom 's Account</h1>
        <hr />
        <form asp-action="Edit" method="post" class="mt-4">
            <input type="hidden" name="id" value="@Model.Compte.id" />

            <div class="form-group">
                <label asp-for="Compte.nom" class="font-weight-bold">Account Holder Name:</label>
                <input asp-for="Compte.nom" class="form-control" />
                <span asp-validation-for="Compte.nom" class="text-danger"></span>
            </div>

            <div class="form-group text-center mt-4">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Details" asp-route-id="@Model.Compte.id" class="btn btn-secondary ml-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
