@model Mouvement

@{
    ViewData["Title"] = "Make a new transaction";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">Make a new transaction</h1>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="AddTransaction">
                    <input type="hidden" name="compte_id" value="@Model.compte_id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="montant" class="control-label"></label>
                        <input asp-for="montant" class="form-control" />
                        <span asp-validation-for="montant" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <input type="submit" value="Create" class="btn btn-outline-success" />
                        <a class="btn btn-outline-secondary float-right" asp-controller="Compte" asp-action="Index">Back To Accounts</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    console.log(@Html.Raw(Json.Serialize(ViewBag.id)));
    console.log(@Html.Raw(Json.Serialize(ViewBag.compte_id)));
    console.log(@Html.Raw(Json.Serialize(ViewBag.mouvement)));
</script>
